<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/static/css/style.css" type="text/css" />
  <meta charset="UTF-8">
  <title>Creaza un grup nou</title>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <h2>Welcome!</h2>
        <ul>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <li><a href="/adminPanel">Dashbord</a></li>
                <li><a href="/adminPanel/listaVaci">Cows</a></li>
                <li><a href="/adminPanel/listaAngajati">Employers</a></li>
                <li><a href="/adminPanel/listaProduseZootehnice">Livestock Produce</a></li>
                <li><a href="/adminPanel/listaFuraje ">Feeds</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Farm menu</a>
                    <div class="dropdown-content">
                        <br>
                        <a href="/adminPanel/farmMenu/users">Administration</a>
                        <a href="/adminPanel/farmMenu/clienti">Clients</a>
                        <a href="/adminPanel/farmMenu/cheltuieliFuraje">Feed expenses</a>
                        <a href="/adminPanel/farmMenu/vanzari">Sales</a>
                    </div>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_USER')">
                <li>
                    <a href="/listaVaci">Cows</a>
                </li>
            </div>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Group cows</a>
                <div class="dropdown-content">
                    <br>
                    <a href="/listaGrupuri">Groups</a>
                    <a href="/adaugaGrup">Create new group</a>
                </div>
            </li>
            <li><a href="/logout" method="POST">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                Logout
            </a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="header">
            <h4>
                Crează grupuri de vaci
            </h4>
        </div>
        <div class="info">
            <center>
                <form action="#" th:action="@{/adaugaGrup/save}" th:object="${groupsModel}" method="post">
                    <div class="form-group">
                    <label for="namegroup">Denumire grup</label>
                    <input type="text" th:field="*{denumireGrup}" id="namegroup" placeholder="Denumire grup"><br>
                    <label for="description">Descriere</label>
                    <input type="text" th:field="*{descriere}" id="description" placeholder="Descriere"><br>
                    </div>
                    <div class="form-group">
                    <h3>Alege o condiție anumită pentru grupul dorit:</h3>
                    <label for="genul">Genul</label>
                    <select id="genul" name="genul" style="width: 150px; height: 35px">
                                    <option value="">Alege o opțiune</option>
                                    <option value="M">Masculin</option>
                                    <option value="F">Feminin</option>
                                </select>

                    <label for="rasa">Rasa</label>
                    <select id="rasa" name="rasa" style="width: 150px; height: 35px">
                                    <option value="">Alege o opțiune</option>
                                    <option th:each="vacaModelRasa : ${rasaSelectorList}"
                                            th:value="${vacaModelRasa}"
                                            th:text="${vacaModelRasa}">
                                    </option>
                                </select>
                    <br>

                    <label for="statut">Statutul</label>
                    <select id="statut" name="statutul" style="width: 150px; height: 35px">
                        <option value="">Alege o opțiune</option>
                        <option th:each="statutSelectorList : ${statutSelectorList}"
                                th:value="${statutSelectorList}"
                                th:text="${statutSelectorList}">
                        </option>
                    </select>

                        <br>
                    <label for="formaAchizitie">Forma de achizitie</label>
                    <select id="formaAchizitie" name="formaAchizitie" style="width: 150px; height: 35px">
                        <option value="">Alege o opțiune</option>
                        <option th:each="formaDeAchizitieSelectorList : ${formaDeAchizitieSelectorList}"
                                th:value="${formaDeAchizitieSelectorList}"
                                th:text="${formaDeAchizitieSelectorList}">
                        </option>
                    </select>

                    <br>

                    <label for="categorie">Categorie</label>
                    <select id="categorie" name="categorie" style="width: 150px; height: 35px">
                        <option value="">Alege o opțiune</option>
                        <option th:each="categorieSelectorList : ${categorieSelectorList}"
                                th:value="${categorieSelectorList}"
                                th:text="${categorieSelectorList}">
                        </option>
                    </select>
                    <br>

                    <label for="masaKgInitiala">Masa de kilograme initiala</label>
                    <select id="operator" name="operator" style="width: 70px; height: 20px">
                        <option value=""></option>
                        <option align="center" value="lt"><</option>
                        <option align="center" value="lte"><=</option>
                        <option align="center" value="eq">=</option>
                        <option align="center" value="gte">>=</option>
                        <option align="center" value="gt">></option>
                    </select>
                    <input type="number" name="masaKgInitiala" id="masaKgInitiala" style="height: 35px">

                    <label for="masaKgMoment">Masa de kilograme moment</label>
                    <select id="operator1" name="operator1" style="width: 70px; height: 20px">
                        <option value=""></option>
                        <option align="center" value="lt"><</option>
                        <option align="center" value="lte"><=</option>
                        <option align="center" value="eq">=</option>
                        <option align="center" value="gte">>=</option>
                        <option align="center" value="gt">></option>
                    </select>
                    <input type="number" name="masaKgMoment" id="masaKgMoment" style="height: 35px">

                    <br>
                    <button class="btn back">
                        <a href="/listaGrupuri">Lista grupurilor</a>
                    </button>
                    <button class="btn success" type="submit">
                        Adauga
                    </button>
                    </div>
                </form>
            </center>
        </div>
    </div>
</div>
</body>
</html>