<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/static/css/style.css" type="text/css" />
    <meta charset="UTF-8">
    <title>Lista furaje</title>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <h2>Welcome!</h2>
        <ul>
            <li><a href="/adminPanel">Dashbord</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Cows</a>
                <div class="dropdown-content">
                    <br>
                    <a th:href="@{/adminPanel/listaVaci/pagina/1}">Cows</a>
                    <a th:href="@{/adminPanel/vacileInsarcinate/pagina/1}">Pregnat cows</a>
                    <a th:href="@{/adminPanel/vacileMoarte/pagina/1}">Died cows</a>
                    <a th:href="@{/adminPanel/vacileBolnave/pagina/1}">Sick cows</a>
                </div>
            </li>
            <li><a href="/adminPanel/listaAngajati/pagina/1">Employers</a></li>
            <li><a href="/adminPanel/listaProduseZootehnice/pagina/1">Livestock Produce</a></li>
            <li><a href="/adminPanel/listaFuraje/pagina/1">Feeds</a></li>
            <li><a href="/adminPanel/listaInventar/pagina/1">Inventory</a></li>
            <li><a href="/adminPanel/tasks/pagina/1">Task-uri</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Mini ERP</a>
                <div class="dropdown-content">
                    <br>
                    <a href="/adminPanel/farmMenu/users">Administration</a>
                    <a href="/adminPanel/farmMenu/clienti">Clients</a>
                    <a href="/adminPanel/farmMenu/cheltuieliFuraje">Feed expenses</a>
                    <a href="/adminPanel/farmMenu/vanzari/pagina/1">Sales</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Group cows</a>
                <div class="dropdown-content">
                    <br>
                    <a href="/listaGrupuri">Groups</a>
                    <a href="/adaugaGrup">Create new group</a>
                </div>
            </li>
            <li>
                <a href="/logout" method="POST">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <div class="main_content">
        <div class="header">
            <h4>
                Lista furajelor
            </h4>
        </div>
        <div class="info">

            <form style="width: auto; height: 100px" method="GET">
                <div id="outer">
                    <div class="inner">
                        <button class="btn success">
                            <a href="/adminPanel/adaugaFuraje">Adauga furaje</a>
                        </button>
                    </div>
                    <div class="inner">
                        <button class="btn export">
                            <a href="/adminPanel/listaFuraje/export-to-pdf">Export pdf</a>
                        </button>
                    </div>
                </div>
            </form>
            <center>
                <form style="width: auto; height: auto">
                <table class="content-table">
                <thead>
                <tr>
                    <th>Tipul furaj</th>
                    <th>Cantitatea primita</th>
                    <th>Calitatea</th>
                    <th>Costul pe unitate</th>
                    <th>Costul total</th>
                    <th>Data procurarii</th>
                    <th>Bonul de plata</th>
                    <th align="center">Manage</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="furajeModel : ${furajeModelList}">
                    <td th:text="${furajeModel.tipulFuraj}"></td>
                    <td th:text="(${furajeModel.cantitateaPrimita} + KG)"></td>
                    <td th:text="${furajeModel.calitatea}"></td>
                    <td th:text="(${furajeModel.costulPerUnitate} + MDL)"></td>
                    <td th:text="(${furajeModel.costulTotal} + MDL)"></td>
                    <td th:text="${furajeModel.dataProcurarii}"></td>
                    <td><img th:src="${furajeModel.getPhotoCheck}" width="50" height="50"/></td>
                    <td>
                        <button class="btn delete">
                            <a th:href="@{/adminPanel/stergeFuraje/pagina/{pageNumber}/{idLot}(pageNumber=${currentPage},idLot=${furajeModel.idLot})}">Sterge</a>
                        </button>
                        <button class="btn edit">
                            <a th:href="@{/adminPanel/editeazaFuraje/pagina/{pageNumber}/{idLot}(pageNumber=${currentPage},idLot=${furajeModel.idLot})}">Editeaza</a>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
                <footer style="font-size: large; display: flex" class="panel-footer">
                    Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]
                    &nbsp; &nbsp; - &nbsp;
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                          <a th:href="@{'/adminPanel/listaFuraje/pagina/' + ${i}}">[[${i}]]</a>
                          &nbsp; &nbsp;
                        </span>
                </footer>
                </form>
            </center>
        </div>
    </div>
</div>
</body>
</html>